
###############################################################################
# DYN.CFG - OBJECT CONFIG FILE FOR MONITORING EC2 RESOURCES
###############################################################################

define hostgroup{
        hostgroup_name  dyn-servers    			; The name of the hostgroup
        alias           Amazon EC2 Servers 	e 	; Long name of the group
        }

